<%- include("partials/header") -%>

<div class="">
  <h1> Trip Display </h1>
</div>

<div class="">
  <p>Welcome to Trip Display build 0.1</p>
</div>

<div id="map"></div>

<%- include("partials/footer") -%>
