:root {
  --ch-blue: #97BFB4;
  --ch-white: #F5EEDC;
  --ch-lightred: #DD4A48;
  --ch-darkred: #4F091D;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  height: 80vh;
 }
